@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

*, *:after, *:before {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Sukhumvit Set", "Sukhumvit Set Text", Sukhumvit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #0A043C;
}

body.bg-dark-mode {
  background-color: #000;
  padding-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  color: #22006B;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  word-break: break-word;
}

a:hover {
  color: #562d9a;
  text-decoration: none;
}

a:focus {
  color: #010040;
}

a:active {
  color: #010040;
}

.seemore-link {
  color: #fff;
}

.seemore-link:hover {
  color: #3A73F7;
  text-decoration: none;
}

.seemore-link:focus {
  color: #3A73F7;
}

.seemore-link:active {
  color: #3A73F7;
}

.navbar.bg-dark-01 {
  background-color: #19191A;
}

.navbar.fixed-top {
  position: absolute;
}

.navbar.navbar-content .navbar-toggler {
  margin-left: auto;
  border: none;
  padding: 0;
}

.navbar.navbar-content .navbar-toggler:focus-visible {
  outline: 0;
}

.navbar.navbar-content .navbar-collapse .navbar-nav {
  text-align: center;
}

.navbar.navbar-content .navbar-collapse .navbar-nav.-list-menu {
  margin: 1.5rem 0;
}

@media only screen and (min-width: 1024px) {
  .navbar.navbar-content .navbar-collapse .navbar-nav.-list-menu {
    margin: 0;
  }
}

.navbar.navbar-content .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  padding: 1rem;
}

.navbar.navbar-content .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: #3A73F7;
  font-weight: bold;
}

.navbar.navbar-content .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #3A73F7;
}

.nav-pills .nav-link {
  color: #fff;
  transition: none;
  padding: 10px;
  margin-right: 1rem;
}

@media only screen and (max-width: 991.98px) {
  .nav-pills .nav-link {
    margin-right: .6rem;
  }
}

@media only screen and (max-width: 413.98px) {
  .nav-pills .nav-link {
    margin-right: .3rem;
  }
}

.nav-pills .nav-link:hover {
  color: #cccccc;
}

.nav-pills .nav-link.active {
  background-color: #3A73F7;
  border-radius: 2rem;
  padding: 10px;
  line-height: 1.6;
}

.container-tabs-light {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  .container-tabs-light {
    max-width: 980px;
  }
}

@media only screen and (min-width: 1280px) {
  .container-tabs-light {
    max-width: 800px;
  }
}

.container-tabs-light .nav-tabs {
  border: none;
}

.container-tabs-light .nav-tabs .nav-link {
  width: 50%;
  font-weight: bold;
  color: #fff;
}

.container-tabs-light .nav-tabs .nav-link.active {
  color: #000;
}

.container-tabs-light .nav-tabs .nav-link:hover {
  background-color: #fff;
  color: #000;
}

.bg-dark-content {
  background-image: url(https://static.ch7.com/images/newstar/bg-news-section.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-vote {
  background-image: url(https://static.ch7.com/images/newstar/bg-vote.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-profile {
  background-image: url(https://static.ch7.com/images/newstar/bg-profile.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

@media only screen and (max-width: 767.98px) {
  .bg-profile {
    background-size: 200%;
    background-position: top right;
  }
}

.title-container {
  color: #22006B;
  font-size: 20px;
  font-size: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .title-container {
    color: #fff;
    font-size: 38px;
    font-size: 2.375rem;
  }
}

.title-landing {
  font-size: 34px;
  font-size: 2.125rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .title-landing {
    font-size: 46px;
    font-size: 2.875rem;
    margin-bottom: 2.5rem;
  }
}

.btn-primary-01 {
  color: #fff;
  background-color: #22006B;
  border-color: #22006B;
  font-weight: bold;
  padding: 0.75rem 1rem;
}

@media only screen and (min-width: 768px) {
  .btn-primary-01 {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.btn-primary-01:hover {
  color: #fff;
  background-color: #562d9a;
  border-color: #562d9a;
}

.btn-primary-01:focus {
  color: #fff;
  background-color: #562d9a;
  border-color: #562d9a;
  box-shadow: 0 0 0 0.2rem rgba(86, 45, 154, 0.5);
}

.btn-outline-primary-01 {
  color: #22006B;
  background-color: transparent;
  border-color: #22006B;
  font-weight: bold;
  padding: 0.75rem 1rem;
}

@media only screen and (min-width: 768px) {
  .btn-outline-primary-01 {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.btn-outline-primary-01:hover:hover {
  color: #fff;
  background-color: #562d9a;
  border-color: #562d9a;
}

.btn-outline-primary-01:focus {
  color: #562d9a;
  background-color: transparent;
  border-color: #562d9a;
  box-shadow: 0 0 0 0.2rem rgba(86, 45, 154, 0.5);
}

.btn-primary-05 {
  color: #fff;
  background-color: #8B34FA;
  border-color: #8B34FA;
  font-weight: bold;
  padding: 0.75rem 1rem;
}

@media only screen and (min-width: 768px) {
  .btn-primary-05 {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.btn-primary-05:hover {
  color: #fff;
  background-color: #6f06f5;
  border-color: #6f06f5;
}

.btn-primary-05:focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(139, 52, 250, 0.5);
}

.btn-outline-light {
  font-weight: bold;
  padding: 0.75rem 1rem;
}

@media only screen and (min-width: 768px) {
  .btn-outline-light {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.btn-drop {
  position: relative;
  color: #22006B;
  background-color: transparent;
  border: 1px dashed #22006B;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.btn-drop .input-browse {
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn-drop.disabled {
  filter: grayscale(1);
  cursor: none;
}

.btn.disabled {
  opacity: .5;
}

.btn-container-form {
  padding: 1rem;
  text-align: center;
}

.btn-container-form .btn {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .btn-container-form .btn {
    width: 85%;
  }
}

@media only screen and (min-width: 1024px) {
  .btn-container-form .btn {
    width: 65%;
  }
}

@media only screen and (min-width: 1280px) {
  .btn-container-form .btn {
    width: 80%;
  }
}

.btn-container-form .text-link {
  font-size: 16px;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  .btn-container-form .text-link {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.btn-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

.btn-delete img {
  width: 32px;
  height: 32px;
}

@media only screen and (min-width: 768px) {
  .btn-delete img {
    width: 28px;
    height: 28px;
  }
}

.btn-delete :hover {
  opacity: .8;
}

.btn-live {
  background-color: #EE2737;
  color: #fff;
  font-weight: bold;
  padding: 5px 20px;
  z-index: 1;
  word-break: keep-all;
}

.btn-live.-radius {
  border-radius: .5rem;
}

.btn-live:hover {
  background-color: #8E0B16;
  color: #fff;
}

.btn-share {
  background-color: #1877F2;
  color: #fff;
}

.btn-share.-padding {
  padding: 5px 15px;
}

.btn-share.-radius {
  border-radius: .5rem;
}

.btn-share:hover {
  background-color: #4893f5;
  color: #fff;
}

.btn-danger.-padding {
  padding: 5px 15px;
}

.btn-danger.-radius {
  border-radius: .5rem;
}

.btn-danger:hover {
  background-color: #f25663;
  color: #fff;
}

.btn-blue {
  background-color: #3A73F7;
  color: #fff;
  font-weight: bold;
  padding: 0.75rem 1rem;
}

.btn-blue:hover {
  background-color: #0840c3;
  color: #fff;
}

.btn-blue.-no-background {
  background-color: transparent;
  color: #22006B;
}

.btn-blue.-no-background:hover {
  color: rgba(34, 0, 107, 0.6);
}

.btn-blue.-no-background:focus {
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  .btn-blue {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #FCBB45;
  color: #fff;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 3rem;
}

#myBtn:hover {
  background-color: #d88c03;
}

.section-space {
  margin-bottom: 3rem;
}

.section-space.-top {
  margin-bottom: 0;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.section-title .title {
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  .section-title .title {
    font-size: 48px;
    font-size: 3rem;
  }
}

.banner-event {
  background-image: url(https://static.ch7.com/images/newstar/banner-news-star.png);
}

.banner-event .title-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 1.5rem;
}

.form-container-outer {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  border-radius: 0;
}

@media only screen and (min-width: 1024px) {
  .form-container-outer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.main-form {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

@media only screen and (min-width: 1024px) {
  .main-form {
    min-height: fit-content;
    min-height: 60vh;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .main-form.-account {
    max-width: 980px;
  }
}

@media only screen and (min-width: 1280px) {
  .main-form.-account {
    max-width: 1130px;
  }
}

.main-form.-account .header-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.main-form.-account .preview-container .preview-content.-step-1 .row div:nth-child(1) {
  order: 1;
}

.main-form.-account .preview-container .preview-content.-step-1 .row div:nth-child(2) {
  order: 2;
}

.main-form.-account .preview-container .preview-content.-step-1 .row div:nth-child(3) {
  order: 3;
}

.main-form.-account .preview-container .preview-content.-step-1 .row div:nth-child(4) {
  order: 5;
}

.main-form.-account .preview-container .preview-content.-step-1 .row div:nth-child(5) {
  order: 5;
}

.main-form.-account .preview-container .preview-content.-step-1 .row div:nth-child(6) {
  order: 4;
}

.main-form.-account .preview-container .preview-content.-step-1 .row div:nth-child(7) {
  order: 7;
}

.main-form.-account .preview-container .preview-content.-step-1 .row div:nth-child(8) {
  order: 8;
}

.main-form.-account .preview-container .preview-content.-step-1 .row div:nth-child(9) {
  order: 9;
}

.main-form.-account .preview-container .preview-content.-step-1 .row div:nth-child(10) {
  order: 10;
}

.main-form.-account .preview-container .preview-content.-step-1 .row div:nth-child(11) {
  order: 11;
}

.main-form.-account .preview-container .preview-content.-step-1 .row div:nth-child(12) {
  order: 12;
}

.main-form.-account .preview-container .preview-content.-step-1 .row div:nth-child(13) {
  order: 13;
}

@media only screen and (min-width: 768px) {
  .main-form.-account .preview-container .preview-content.-step-1 .row div:nth-child(4) {
    order: 4;
  }
  .main-form.-account .preview-container .preview-content.-step-1 .row div:nth-child(6) {
    order: 6;
  }
}

.main-form.-account .preview-container .preview-content .details {
  margin-bottom: 0.25rem;
}

.main-form.-default .body-form {
  font-size: 16px;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  .main-form.-default .body-form {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

.main-form.-default .body-form .img-event-container {
  margin: 1rem 0 2rem;
}

.main-form.-default .body-form .img-event-container img {
  width: 90px;
  height: 90px;
}

@media only screen and (min-width: 768px) {
  .main-form.-default .body-form .img-event-container img {
    width: 120px;
    height: 120px;
  }
}

.main-form.-default .body-form .title-primary {
  color: #22006B;
}

.main-form.-default .body-form .form-group {
  font-size: initial;
}

@media only screen and (min-width: 1024px) {
  .main-form.-default {
    max-width: 980px;
  }
}

@media only screen and (min-width: 1280px) {
  .main-form.-default {
    max-width: 800px;
  }
}

@media only screen and (min-width: 1024px) {
  .main-form.-preview {
    max-width: 980px;
  }
}

@media only screen and (min-width: 1280px) {
  .main-form.-preview {
    max-width: 1360px;
  }
}

.main-form.-rounded-bottom-form {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.main-form .header-form {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background: rgba(240, 209, 255, 0.4);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .main-form .header-form {
    padding: 1.5rem 2.5rem;
  }
}

.main-form .header-form .title-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main-form .header-form .title-form .title {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #22006B;
}

.main-form .header-form .title-form .sub-title {
  font-size: 14px;
  font-size: 0.875rem;
  text-align: right;
}

.main-form .body-form {
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .main-form .body-form {
    padding: 2.5rem;
  }
}

.main-form.-not-min-height {
  min-height: auto;
}

.main-form .table-responsive {
  font-size: 16px;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  .main-form .table-responsive {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

.form-control {
  margin-bottom: 0.25rem;
  -webkit-appearance: none;
}

.form-control.is-invalid {
  margin-bottom: 0.25rem;
}

.form-control.social-form {
  padding: 0.375rem 0.75rem 0.375rem 3rem;
}

.form-control.date-form {
  display: flex;
}

.form-select.is-invalid:not([multiple]):not([size]) {
  margin-bottom: 0.25rem;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-group .form-check {
  display: flex;
  align-items: flex-start;
}

.form-group .form-check .form-check-input {
  width: 20px;
  height: 20px;
  transition: all 150ms ease-in;
  -webkit-appearance: none;
}

.form-group .form-check .form-check-input:checked {
  background-color: #22006B;
}

.form-group .form-check .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(102, 67, 183, 0.25);
}

.form-group .form-check .form-check-label {
  width: 100%;
  word-break: normal;
}

.form-group .form-gender .form-check-inline .form-check-input {
  width: 24px;
  height: 24px;
  transition: all 200ms ease-in;
  position: static;
  margin-top: 0;
  margin-right: 0.3125rem;
  margin-left: 0;
}

.form-group .form-gender .form-check-inline .form-check-input:focus {
  border-color: #562d9a;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(34, 0, 107, 0.25);
}

.form-group .form-gender .form-check-inline .form-check-input:checked {
  background-color: #22006B;
  border-color: #562d9a;
  -webkit-appearance: none;
}

.form-group .form-pdpa > .form-check {
  display: inline-flex;
  align-items: center;
  width: initial;
  margin-right: 1rem;
  align-items: initial;
  margin-top: 1.5rem;
}

.form-group .form-pdpa > .form-check > .form-check-input {
  width: 24px;
  height: 24px;
  transition: all 200ms ease-in;
  position: static;
  margin-top: 0;
}

.form-group .form-pdpa > .form-check > .form-check-input:focus {
  border-color: #562d9a;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(34, 0, 107, 0.25);
}

.form-group .form-pdpa > .form-check > .form-check-input:checked {
  background-color: #22006B;
  border-color: #562d9a;
  -webkit-appearance: none;
}

.form-group .form-pdpa > .form-check > .form-check-label {
  font-size: 14px;
  font-size: 0.875rem;
  color: #595959;
  width: 100%;
  margin-top: 0.1rem;
  padding-left: 0.75rem;
}

.form-group .form-pdpa > .warning, .form-group .form-pdpa .warning2 {
  color: #8E0B16;
  background-color: rgba(142, 11, 22, 0.05);
  padding: 1rem;
  border-radius: .25rem;
  margin-top: 0.5rem;
}

.form-group .form-pdpa > .warning > p, .form-group .form-pdpa .warning2 > p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-size: 0.875rem;
}

.form-group .form-pdpa > .warning.invisible, .form-group .form-pdpa .warning2.invisible {
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.form-group .form-pdpa > .warning.invisible p, .form-group .form-pdpa .warning2.invisible p {
  display: none;
  transition: all 200ms ease-out;
}

.form-group .form-pdpa > .warning.visible, .form-group .form-pdpa .warning2.visible {
  height: auto;
  opacity: 1;
}

.form-group .icon-input {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  height: 100%;
}

.form-group .icon-input img {
  width: 24px;
  height: 24px;
}

.form-group.-otp-code {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  width: 100%;
}

.form-otp {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .form-otp {
    width: 75%;
  }
}

@media only screen and (min-width: 1024px) {
  .form-otp {
    width: 55%;
  }
}

@media only screen and (min-width: 1280px) {
  .form-otp {
    width: 70%;
  }
}

.form-otp .code-input {
  padding: 0.25rem;
}

@media only screen and (min-width: 768px) {
  .form-otp .code-input {
    padding: 0.5rem;
  }
}

.form-otp .code-input .-otp {
  font-size: 32px;
  font-size: 2rem;
  border-radius: 0.25rem;
  text-align: center;
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .form-otp .code-input .-otp {
    font-size: 48px;
    font-size: 3rem;
  }
}

.form-otp .code-input .-otp:focus-within {
  color: #22006B;
  border-color: #22006B;
}

.form-otp .code-input .-otp:invalid {
  color: #EE2737;
  border-color: #EE2737;
}

.form-otp .code-input .-otp:valid {
  color: #22006B;
}

.form-otp .code-input input[type=number]::-webkit-inner-spin-button,
.form-otp .code-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  appearance: none;
}

.form-video {
  position: relative;
}

.form-video video {
  width: 100%;
}

.progress {
  height: 30px;
}

.form-gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.form-info {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7;
}

.form-info .title {
  font-size: 16px;
  font-size: 1rem;
  color: #262626;
}

.form-info .sub-title {
  color: #595959;
}

.form-info .text-link {
  color: #22006B;
  margin: 0.75rem 0;
}

.form-info .separator {
  background-color: #8C8C8C;
  margin: 1.5rem 0;
}

.form-info .form-check-input {
  margin-top: 0;
}

.form-info .form-check-label {
  color: #595959;
  font-size: 14px;
  font-size: 0.875rem;
}

.form-info ul {
  list-style: none;
  padding-left: 0;
}

.gallery-main {
  position: relative;
  width: 100%;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .gallery-main {
    width: 32.5%;
  }
}

.gallery-main:nth-child(1) .gallery-container {
  background-image: url(https://static.ch7.com/images/newstar/img-01-11.jpg);
}

.gallery-main:nth-child(2) .gallery-container {
  background-image: url(https://static.ch7.com/images/newstar/img-02-11.jpg);
}

.gallery-main:nth-child(3) .gallery-container {
  background-image: url(https://static.ch7.com/images/newstar/img-03-11.jpg);
}

@media only screen and (min-width: 768px) {
  .gallery-main:nth-child(4) {
    width: 49.4%;
  }
}

.gallery-main:nth-child(4) .gallery-container {
  background-image: url(https://static.ch7.com/images/newstar/img-04-11.jpg);
}

@media only screen and (min-width: 768px) {
  .gallery-main:nth-child(5) {
    width: 49.4%;
  }
}

.gallery-main:nth-child(5) .gallery-container {
  background-image: url(https://static.ch7.com/images/newstar/img-05-11.jpg);
}

.gallery-main .gallery-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e5e5e5;
  background-position: center;
  position: relative;
  margin-bottom: 0.5rem;
  height: 0;
  padding-bottom: 145%;
}

.gallery-main .gallery-container .gallery-item {
  background-image: url(https://static.ch7.com/images/theme2019/ch7_logo-bw.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e5e5e5;
  background-position: center;
  position: relative;
  margin-bottom: 0.5rem;
  height: 0;
  padding-bottom: 145%;
}

.gallery-main .gallery-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.gallery-preview .container-media-preview {
  margin: auto;
}

.gallery-preview .ratio-img-preview {
  background-color: #262626;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  position: relative;
  height: 0;
  padding-top: 121%;
}

.gallery-preview .ratio-img-preview .img-preview {
  position: absolute;
  object-fit: cover;
  object-position: center top;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-preview .-pd-content {
  padding: .1rem;
}

.main-info-preview {
  display: flex;
  justify-content: space-between;
}

.main-info-preview .profile-info .title {
  font-size: 64px;
  font-size: 4rem;
}

.main-info-preview .profile-info .sub-title {
  display: inline-block;
  font-size: 48px;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.main-info-preview .profile-info .sub-title:last-of-type {
  font-size: 36px;
  font-size: 2.25rem;
}

.main-info-preview .detail-info .number-content {
  background-color: #003472;
  padding: 1.5rem;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -2.5rem;
}

.main-info-preview .detail-info .number-content .title {
  font-size: 128px;
  font-size: 8rem;
  line-height: 0.8;
}

.main-info-preview .detail-info .compositions-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}

.main-info-preview .detail-info .compositions-content .sub-composition {
  background-color: #E8F1FF;
  border: 2px solid rgba(0, 52, 114, 0.4);
  padding: .5rem;
  border-radius: .25rem;
}

.main-info-preview .detail-info .compositions-content .sub-composition.-height {
  background-color: #f6e9fb;
  border: 2px solid #d8a0db;
}

.main-info-preview .detail-info .compositions-content .sub-composition .text-number {
  line-height: 1;
}

.radia-progressbar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
}

.radia-progressbar > .overlay {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  margin: auto;
  background: #f9edff;
  text-align: center;
  padding: 26% 0 0;
  border: initial;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
}

.progress-25 {
  background-image: linear-gradient(90deg, #ddd 50%, transparent 50%), linear-gradient(180deg, #790FFF 50%, #ddd 50%);
}

.progress-50 {
  background-image: linear-gradient(90deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #790FFF 50%, #790FFF 50%);
}

.progress-75 {
  background-image: linear-gradient(270deg, #790FFF 50%, transparent 50%), linear-gradient(360deg, #790FFF 50%, #ddd 50%);
}

.progress-100 {
  background-image: linear-gradient(180deg, #790FFF 50%, transparent 50%), linear-gradient(360deg, #790FFF 50%, #ddd 50%);
}

.card.-bgcolor {
  background-color: #19191A;
}

.card.-bg-blue {
  background-color: rgba(126, 163, 249, 0.4);
}

.card.-bg-violet {
  background-color: rgba(76, 42, 172, 0.4);
}

.card.-bg-blur {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.card.-radius {
  border-radius: 1rem;
}

.card.-card-bg-transparent {
  background-color: transparent;
}

.card.ad-300 {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  position: relative;
  width: 300px;
  height: 300px !important;
}

.card.ad-300 .img-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .card-img {
  background-image: url(https://static.ch7.com/images/theme2019/ch7_logo-bw.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #19191A;
  background-position: center;
  position: relative;
  height: 0;
  padding-top: 56.25%;
}

.card .card-img .img-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .card-img .img-item.-position {
  object-position: top center;
}

.card .card-img .img-item.-radius {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

@media only screen and (max-width: 575.98px) {
  .card .card-img .img-item.-radius {
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .card .card-ratio {
    padding-top: 72%;
  }
}

.card .card-header.-gradients-bg {
  background: linear-gradient(to bottom, #0464FE, #8A83F9);
  color: #fff;
  font-size: x-large;
}

.card .card-header.-radius {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card .card-body p.-size {
  font-size: 1rem;
}

.card .card-body p.-size.-large {
  font-size: 1.25rem;
}

.card .card-body p.-ellipsis {
  overflow: hidden;
  max-height: 3rem;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  max-height: 100%;
}

.card .card-body.-card-body-bg {
  background-color: #2F2E36;
}

.card .card-body.-height {
  height: 125px;
}

.card .card-body.-radius {
  border-radius: 1rem;
}

.card .card-body .card-title.-textsize {
  font-size: 48px;
}

.card .card-footer.-card-bg-transparent {
  background-color: transparent;
}

.card .card-footer.-height {
  height: 60px;
}

.card .card-footer.-padding {
  padding-bottom: 16px;
}

.cards.-landscape, .cards.-overlay, .cards.-play {
  position: relative;
}

.cards.-landscape .cards-img, .cards.-overlay .cards-img, .cards.-play .cards-img {
  background-image: url(https://static.ch7.com/images/theme2019/ch7_logo-bw.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #E8E8E8;
  background-position: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  height: 0;
  padding-top: 56.25%;
}

.cards.-landscape .cards-img .container-img, .cards.-overlay .cards-img .container-img, .cards.-play .cards-img .container-img {
  width: 100%;
  height: auto;
}

.cards.-landscape .cards-img .container-img .img-item, .cards.-overlay .cards-img .container-img .img-item, .cards.-play .cards-img .container-img .img-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.cards.-landscape .cards-info, .cards.-overlay .cards-info, .cards.-play .cards-info {
  background-color: #2F2E36;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@media only screen and (min-width: 768px) {
  .cards.-landscape .cards-info, .cards.-overlay .cards-info, .cards.-play .cards-info {
    padding: 1rem;
  }
}

.cards.-landscape .cards-info .badge-content, .cards.-overlay .cards-info .badge-content, .cards.-play .cards-info .badge-content {
  flex-grow: 1;
  order: 1;
}

.cards.-landscape .cards-info .badge-content .badge.-cards, .cards.-overlay .cards-info .badge-content .badge.-cards, .cards.-play .cards-info .badge-content .badge.-cards {
  font-size: 10px;
  font-size: 0.625rem;
  padding: 0.65em 0.65em;
  border-radius: 0.5rem;
  background-color: #D6BD6B;
}

@media only screen and (min-width: 768px) {
  .cards.-landscape .cards-info .badge-content .badge.-cards, .cards.-overlay .cards-info .badge-content .badge.-cards, .cards.-play .cards-info .badge-content .badge.-cards {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

.cards.-landscape .cards-info .date, .cards.-overlay .cards-info .date, .cards.-play .cards-info .date {
  flex-grow: 1;
  margin-bottom: 0.25rem;
  order: 2;
  font-size: 10px;
  font-size: 0.625rem;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .cards.-landscape .cards-info .date, .cards.-overlay .cards-info .date, .cards.-play .cards-info .date {
    font-size: initial;
  }
}

.cards.-landscape .cards-info .title, .cards.-overlay .cards-info .title, .cards.-play .cards-info .title {
  line-height: 1.5;
  font-weight: bold;
  padding-top: 0.6rem;
  width: 100%;
  order: 3;
  font-size: 16px;
  font-size: 1rem;
}

.cards.-landscape .cards-info .title .stretched-link, .cards.-overlay .cards-info .title .stretched-link, .cards.-play .cards-info .title .stretched-link {
  overflow: hidden;
  max-height: 3rem;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  color: #fff;
  height: 3rem;
}

.cards.-landscape .cards-info .title .stretched-link::after, .cards.-overlay .cards-info .title .stretched-link::after, .cards.-play .cards-info .title .stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.cards.-landscape .cards-info .title .stretched-link:hover, .cards.-overlay .cards-info .title .stretched-link:hover, .cards.-play .cards-info .title .stretched-link:hover {
  color: #3A73F7;
}

.cards.-overlay .cards-img {
  padding-top: 56.25%;
  border-radius: 1rem;
}

@media only screen and (min-width: 1024px) {
  .cards.-overlay .cards-img {
    padding-top: 48.25%;
  }
}

@media only screen and (min-width: 1280px) {
  .cards.-overlay .cards-img {
    padding-top: 45.65%;
  }
}

@media only screen and (min-width: 1280px) {
  .cards.-overlay .cards-img {
    padding-top: 44.65%;
  }
}

@media only screen and (min-width: 1440px) {
  .cards.-overlay .cards-img {
    padding-top: 42.25%;
  }
}

.cards.-overlay .cards-img .img-item {
  border-radius: 1rem;
}

.cards.-overlay .cards-info {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0.25rem;
  border-bottom-right-radius: 1rem;
  background: linear-gradient(180deg, rgba(228, 229, 229, 0) -4.68%, rgba(115, 126, 251, 0.47) 26.61%, #0A66FF 100%);
}

.cards.-overlay .cards-info .date {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.cards.-overlay .cards-info .title .stretched-link {
  color: #fff;
  height: 3rem;
}

.cards.-overlay .cards-info .title .stretched-link:hover {
  color: #fff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

@media only screen and (min-width: 768px) {
  .cards.-overlay .cards-info {
    margin: 0 0.45rem;
  }
}

@media only screen and (min-width: 1024px) {
  .cards.-overlay .cards-info {
    border-bottom-right-radius: 0;
    border-top-left-radius: 1rem;
    background: linear-gradient(180deg, #0464FE 0%, #8A83F9 100%);
    top: 0;
    width: 35%;
    height: 100%;
    margin: 0 0.5rem;
  }
  .cards.-overlay .cards-info .badge-content {
    order: 1;
  }
  .cards.-overlay .cards-info .date {
    order: 3;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .cards.-overlay .cards-info .title {
    order: 2;
  }
  .cards.-overlay .cards-info .title .stretched-link {
    font-size: 24px;
    font-size: 1.5rem;
    overflow: hidden;
    max-height: 3rem;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    max-height: 9rem;
    height: 9rem;
  }
}

@media only screen and (min-width: 1024px) {
  .cards.-overlay .cards-info {
    width: 40%;
  }
}

.cards.-play .cards-img::before {
  content: url(https://static.ch7.com/images/newstar/icon-play-sm.svg);
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-20%, -10%);
  z-index: 1;
}

@media only screen and (min-width: 1024px) {
  .cards.-play .cards-img::before {
    content: url(https://static.ch7.com/images/newstar/icon-play.svg);
  }
}

.cards.-poster {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  z-index: 1;
}

.cards.-poster:hover .container-img .img-item {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transform: scale(1.1) rotate(2deg);
}

.cards.-poster .cards-img {
  position: relative;
  background-image: url(https://static.ch7.com/images/theme2019/ch7_logo-bw.png);
  background-size: contain;
  width: 100%;
  height: 0;
  background-repeat: no-repeat;
  background-color: #E8E8E8;
  background-position: center;
  padding-top: 140%;
}

.cards.-poster .container-img {
  display: block;
  width: 100%;
  height: 0;
}

.cards.-poster .container-img .img-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.cards.-poster .cards-info {
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  width: 100%;
  height: 60%;
}

@media only screen and (min-width: 768px) {
  .cards.-poster .cards-info {
    padding: 1rem;
  }
}

.cards.-poster .cards-info .number-contestants {
  font-size: 32px;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  padding-top: .4rem;
  margin-bottom: 0;
  position: absolute;
  bottom: 3.5rem;
}

@media only screen and (min-width: 768px) {
  .cards.-poster .cards-info .number-contestants {
    bottom: 4rem;
    font-size: 44px;
    font-size: 2.75rem;
  }
}

.cards.-poster .cards-info .number-contestants > .stretched-link {
  color: #fff;
}

.cards.-poster .cards-info .name-contestants {
  color: #fff;
  margin-bottom: 0;
  position: absolute;
  bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .cards.-poster .cards-info .name-contestants {
    bottom: 1rem;
  }
}

.cards.-poster.-male .cards-info {
  background: linear-gradient(180deg, rgba(84, 129, 236, 0) 23.04%, rgba(29, 67, 160, 0.9) 87.76%);
}

.cards.-poster.-female .cards-info {
  background: linear-gradient(180deg, rgba(76, 42, 172, 0) 23.04%, rgba(76, 42, 172, 0.9) 87.76%);
}

.cards.-poster.-vote {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cards.-poster.-vote .cards-img .container-img .img-item {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cards.-poster.-vote .cards-info {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cards.-poster .badge-overlay-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 3;
  transition: width 0.4s ease, height 0.4s ease;
}

.cards.-poster .badge-overlay-container .badge {
  border-radius: 0;
  color: #262626;
  padding: 1rem;
  font-size: 18px;
  font-size: 1.125rem;
}

.cards.-poster .badge-overlay-container .badge::before {
  content: "";
  position: absolute;
  top: 0;
  margin: 0 -1px;
  width: 100%;
  height: 100%;
  right: 100%;
  background: inherit;
  min-width: 3.438rem;
}

.cards.-poster .badge-overlay-container .badge::after {
  left: 100%;
  content: "";
  position: absolute;
  top: 0;
  margin: 0 -1px;
  width: 100%;
  height: 100%;
  background: inherit;
  min-width: 3.438rem;
}

.cards.-poster .badge-overlay-container .badge.-bottom-right {
  position: absolute;
  transform-origin: bottom left;
}

.cards.-poster .badge-overlay-container .badge.-badge-semifinal {
  transform: translateX(26%) translateY(0%) rotate(0deg);
  bottom: -16px;
  right: 0px;
}

@media only screen and (min-width: 1024px) {
  .cards.-poster .badge-overlay-container .badge.-badge-semifinal {
    transform: translateX(18%) translateY(0%) rotate(0deg);
  }
}

@media only screen and (min-width: 1280px) {
  .cards.-poster .badge-overlay-container .badge.-badge-semifinal {
    transform: translateX(17%) translateY(0%) rotate(0deg);
  }
}

.cards.-poster .badge-overlay-container .badge.-badge-semifinal .img-badge {
  max-width: 60%;
}

@media only screen and (min-width: 1024px) {
  .cards.-poster .badge-overlay-container .badge.-badge-semifinal .img-badge {
    max-width: 80%;
  }
}

.cards.-poster .badge-overlay-container .badge.-badge-popular {
  transform: translateX(22%) translateY(0%) rotate(360deg);
  bottom: -31px;
  right: 0px;
}

@media only screen and (min-width: 768px) {
  .cards.-poster .badge-overlay-container .badge.-badge-popular {
    transform: translateX(23%) translateY(0%) rotate(360deg);
    bottom: -45px;
  }
}

@media only screen and (min-width: 1024px) {
  .cards.-poster .badge-overlay-container .badge.-badge-popular {
    transform: translateX(25%) translateY(0%) rotate(360deg);
    bottom: -52px;
  }
}

@media only screen and (min-width: 1280px) {
  .cards.-poster .badge-overlay-container .badge.-badge-popular {
    transform: translateX(24%) translateY(0%) rotate(360deg);
    bottom: -52px;
  }
}

.cards.-poster .badge-overlay-container .badge.-badge-popular .img-badge {
  max-width: 100%;
}

.vote-content {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@media only screen and (min-width: 768px) {
  .vote-content {
    padding: 1rem;
  }
}

.vote-content .score-info {
  width: 50%;
}

@media only screen and (min-width: 768px) {
  .vote-content .score-info {
    width: 70%;
  }
}

.vote-content .score-info p {
  margin-bottom: 0;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
}

@media only screen and (min-width: 768px) {
  .vote-content .score-info p {
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  .vote-content .score-info p {
    font-size: 16px;
    font-size: 1rem;
  }
}

.vote-content .btn-vote {
  font-size: 16px;
  font-size: 1rem;
  padding: 0.35rem 0.75rem;
  border-radius: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .vote-content .btn-vote {
    font-size: 18px;
    font-size: 1.125rem;
    padding: 0.20rem 0.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .vote-content .btn-vote {
    font-size: 20px;
    font-size: 1.25rem;
    padding: 0.20rem 0.75rem;
  }
}

.vote-content .btn-vote:focus {
  color: #0d6efd;
}

.vote-content .btn-vote:hover {
  color: #fff;
}

.modal-dialog.error-age-content .modal-content, .modal-dialog.error-idnumber-content .modal-content, .modal-dialog.error-phone-numbuer-content .modal-content {
  border-radius: 10px;
}

.modal-dialog.error-age-content .modal-header, .modal-dialog.error-idnumber-content .modal-header, .modal-dialog.error-phone-numbuer-content .modal-header {
  border: none;
}

.modal-dialog.error-age-content .modal-body, .modal-dialog.error-idnumber-content .modal-body, .modal-dialog.error-phone-numbuer-content .modal-body {
  padding: 1rem 1rem 1.5rem;
}

.modal-dialog.error-age-content .modal-body .title, .modal-dialog.error-idnumber-content .modal-body .title, .modal-dialog.error-phone-numbuer-content .modal-body .title {
  color: #EE2737;
}

.modal-dialog.error-age-content .btn-container .btn, .modal-dialog.error-idnumber-content .btn-container .btn, .modal-dialog.error-phone-numbuer-content .btn-container .btn {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .modal-dialog.error-age-content .btn-container .btn, .modal-dialog.error-idnumber-content .btn-container .btn, .modal-dialog.error-phone-numbuer-content .btn-container .btn {
    width: 50%;
  }
}

.modal-dialog.error-age-content .btn-container .text-link, .modal-dialog.error-idnumber-content .btn-container .text-link, .modal-dialog.error-phone-numbuer-content .btn-container .text-link {
  font-size: 16px;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  .modal-dialog.error-age-content .btn-container .text-link, .modal-dialog.error-idnumber-content .btn-container .text-link, .modal-dialog.error-phone-numbuer-content .btn-container .text-link {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.modal-dialog.delete-item-content .modal-content {
  border-radius: 10px;
}

.modal-dialog.delete-item-content .modal-header {
  border: none;
}

.modal-dialog.delete-item-content .title {
  color: #22006B;
}

.modal-dialog.delete-item-content .btn-container {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .modal-dialog.delete-item-content .btn-container {
    justify-content: center;
  }
}

.modal-dialog.delete-item-content .btn-container .btn {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .modal-dialog.delete-item-content .btn-container .btn {
    width: 25%;
  }
}

.main-footer {
  background-color: #353535;
  padding: 1.5rem 0;
}

.main-footer.bg-dark-mode {
  background-color: #000;
}

.main-footer .content-footer-top {
  display: block;
  justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
  .main-footer .content-footer-top {
    display: flex;
  }
}

.main-footer .content-footer-top .footer-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .main-footer .content-footer-top .footer-left {
    justify-content: flex-start;
  }
}

.main-footer .content-footer-top .footer-left .title {
  font-size: 14px;
  font-size: 0.875rem;
  word-break: keep-all;
}

@media only screen and (min-width: 768px) {
  .main-footer .content-footer-top .footer-left .title {
    font-size: unset;
  }
}

.main-footer .content-footer-top .footer-right {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .main-footer .content-footer-top .footer-right {
    margin-top: 0;
    justify-content: flex-start;
  }
}

.main-footer .content-footer-top .footer-right .text-policy::after {
  display: inline;
  content: '|';
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.main-footer .content-footer-top .footer-right .text-policy:last-child::after {
  content: '';
}

.main-footer .content-footer-top .footer-right .social {
  margin-left: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .main-footer .content-footer-top .footer-right .social {
    margin-left: 1rem;
  }
}

.main-footer .content-footer-top .footer-right .social img {
  width: 22px;
  height: 22px;
}

.main-footer .separator-footer {
  background-color: #fff;
  opacity: 1;
  margin: 1.5rem 0;
}

.main-footer .content-footer-bottom .footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
  .main-footer .content-footer-bottom .footer-right {
    justify-content: flex-end;
    margin-bottom: 0.5rem;
  }
}

.main-footer .content-footer-bottom .footer-right .info {
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .main-footer .content-footer-bottom .footer-right .info {
    text-align: unset;
  }
}

blockquote::before {
  content: url(https://static.ch7.com/images/newstar/dubbleqoute-start.svg);
}

blockquote::after {
  content: url(https://static.ch7.com/images/newstar/dubbleqoute-end.svg);
}

ol {
  list-style-type: none;
  counter-reset: item;
  padding-left: 15px;
}

ol > li {
  display: table;
  counter-increment: item;
}

ol > li::before {
  content: counters(item, ".") ".";
  display: table-cell;
  padding-right: 5px;
}

li ol {
  padding: 0;
}

li ol > li {
  margin: 0;
}

li ol > li::before {
  content: counters(item, ".") ".";
}

.bg-img-newstar {
  background-image: url(https://static.ch7.com/images/newstar/landing-img-bg.jpg);
  background-size: cover;
  background-position-x: 30%;
}

@media only screen and (min-width: 1024px) {
  .bg-img-newstar {
    background-position-x: 50%;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  border: 4px solid #50E4ED;
  border-radius: 30px;
  padding: 50px 30px;
}

@media only screen and (min-width: 1024px) {
  .overlay {
    padding: 50px 150px;
  }
}

.w-column-1 {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .w-column-1 {
    width: 65%;
  }
}

.w-column-2 {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .w-column-2 {
    width: 35%;
  }
}

.w-column-3 {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .w-column-3 {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .w-column-3 {
    width: 100%;
  }
}

.hilight-bg {
  background-image: url(https://static.ch7.com/images/newstar/bg-hilight.jpg);
  background-size: cover;
  background-position-y: 30%;
}

.news-bg {
  background-image: url(https://static.ch7.com/images/newstar/bg-news.jpg);
  background-size: cover;
  background-position-y: 30%;
}

@media only screen and (min-width: 1024px) {
  .owl-carousel.-shadow-effect {
    display: block;
    padding: 0 3rem;
  }
}

.owl-carousel.-shadow-effect .owl-stage-outer {
  z-index: 1;
}

.owl-carousel.-shadow-effect .owl-stage-outer .owl-stage .owl-item.active.center .owl-items {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.owl-carousel.-shadow-effect .owl-stage-outer .owl-stage .owl-items {
  margin-bottom: 0;
  opacity: .9;
  transform: scale3d(0.9, 0.9, 1);
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .owl-carousel.-shadow-effect .owl-stage-outer .owl-stage .owl-items {
    opacity: .5;
  }
}

.owl-carousel.-shadow-effect .owl-nav.disabled {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 100%;
}

.owl-carousel.-shadow-effect .owl-nav.disabled .owl-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(-50%);
  top: 44%;
  left: 0;
  border-radius: 0;
  width: 80px;
  height: 100%;
  margin: 0;
  background-color: transparent;
  z-index: 2;
}

.owl-carousel.-shadow-effect .owl-nav.disabled .owl-prev:hover {
  background: transparent;
}

.owl-carousel.-shadow-effect .owl-nav.disabled .owl-prev > .icon-nav .img-item {
  width: 40px;
  height: 40px;
}

.owl-carousel.-shadow-effect .owl-nav.disabled .owl-next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(-50%);
  top: 44%;
  right: 0;
  left: initial;
  border-radius: 0;
  width: 80px;
  height: 100%;
  margin: 0;
  background-color: transparent;
  z-index: 2;
}

.owl-carousel.-shadow-effect .owl-nav.disabled .owl-next:hover {
  background: transparent;
}

.owl-carousel.-shadow-effect .owl-nav.disabled .owl-next > .icon-nav .img-item {
  width: 40px;
  height: 40px;
}

@media only screen and (min-width: 1024px) {
  .owl-carousel.-shadow-effect .owl-nav.disabled {
    display: block;
  }
}

.placeholder-img {
  background-image: url(https://static.ch7.com/images/theme2019/ch7_logo-bw.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #E8E8E8;
  background-position: center;
  position: relative;
  height: 0;
  padding-top: 56.25%;
}

.placeholder-img .container-area {
  width: 100%;
  height: auto;
}

.placeholder-img .container-area .thumblive-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.section-h {
  min-height: 66vh;
}

@media only screen and (min-width: 768px) {
  .section-h {
    min-height: 80vh;
  }
}

@media only screen and (min-width: 1024px) {
  .section-h {
    min-height: 87vh;
  }
}

@media only screen and (min-width: 1440px) {
  .section-h {
    min-height: 85vh;
  }
}

.ug-lightbox .ug-textpanel-title {
  text-align: center !important;
}

.hide-scrollbar {
  overflow: scroll;
  flex-wrap: nowrap;
  transition: all 0.5s;
  transform: scale(0.98);
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.hide-scrollbar.active {
  background-color: rgba(126, 163, 249, 0.2);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

@media only screen and (min-width: 1920px) {
  .hide-scrollbar {
    justify-content: center;
  }
}

.paddle {
  position: absolute;
  background-color: #262626;
  top: 50%;
  transform: translate(0%, -50%);
  width: 40px;
  height: 40px;
  background-color: #262626;
  border-radius: 2rem;
}

.paddle.left-paddle {
  left: 0;
  border-color: transparent;
  color: #fff;
}

.paddle.right-paddle {
  right: 0;
  border-color: transparent;
  color: #fff;
}

@media only screen and (min-width: 1920px) {
  .paddle {
    display: none;
  }
}

.hidden {
  display: none;
}

.ratio.-background {
  background-color: #19191A;
}

.ratio.-background video[poster] {
  object-fit: cover;
}

.rules-content .info-rules {
  text-indent: 1em;
}

.rules-content a {
  color: #F976DC;
}

.container-carousel-announcement {
  margin-top: 0.85rem;
}

@media only screen and (min-width: 1280px) {
  .container-carousel-announcement {
    margin-top: 1.5rem;
  }
}

.container-carousel-announcement .carousel-indicators button {
  width: 50px;
  height: 6px;
}
/*# sourceMappingURL=main.css.map */