
$primary-01 : #22006B;
$primary-02 : #0A043C;
$primary-03 : #562d9a;
$primary-04 : #010040;
$primary-05 : #8B34FA;
$primary-06 : #8A83F9;
$primary-07 : #4C2AAC;
$gray-01 : #262626;
$gray-02 : #595959;
$gray-03 : #8C8C8C;
$gray-04 : #A8A8A8;
$gray-05 : #E8E8E8;
$gray-06 : #2F2E36;
$light : #fff;
$dark: #000;
$dark-01: #19191A;
$cyan: #50E4ED;
$blue:#4B87FD;
$blue01 : #0464FE;
$blue02 : #1877F2;
$blue03 : #3A73F7;
$blue04 : #7EA3F9;
$violet:#DCA3FF;
$gold:#FCBB45;
$danger-01 : #EE2737;
$danger-02: #8E0B16;

$list: $cyan, $blue, $violet;

@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);  
}


///// Font Imports /////
@font-face {
  font-family: "Sukhumvit Set";
  src:url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.eot'); /* IE9 Compat Modes */
  src:url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff2') format('woff2'),
      url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff') format('woff'),
      url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
font-family: "Sukhumvit Set";
src:url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.eot'); /* IE9 Compat Modes */
src:url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff2') format('woff2'),
  url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff') format('woff'),
  url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}

// Font stack ------------------
$brand-font: "Sukhumvit Set", "Sukhumvit Set Text", Sukhumvit,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$body-font: -apple-system, Thonburi, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


@mixin media-breakpoint-up($breakpoint) {
  // $breakpoint is simply a variable that can have several values

  @if $breakpoint==sm {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (min-width: 480px) {
      @content;
    }
  }

  @if $breakpoint==md {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint==mdi {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (min-width: 834px) {
      @content;
    }
  }

  @if $breakpoint==lg {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (min-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint==xl {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (min-width: 1280px) {
      @content;
    }
  }

  @if $breakpoint==xxl {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (min-width: 1440px) {
      @content;
    }
  }
  @if $breakpoint==xxxl {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (min-width: 1920px) {
      @content;
    }
  }
}

@mixin media-breakpoint-only($breakpoint) {
  // $breakpoint is simply a variable that can have several values

  @if $breakpoint==sm {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (min-width: 480px) {
      @content;
    }
  }

  @if $breakpoint==md {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint==mdi {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (min-width: 834px) {
      @content;
    }
  }

  @if $breakpoint==lg {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (min-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint==xl {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (min-width: 1280px) {
      @content;
    }
  }

  @if $breakpoint==xxl {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (min-width: 1440px) {
      @content;
    }
  }
}
@mixin media-breakpoint-down($breakpoint) {
  // $breakpoint is simply a variable that can have several values

  @if $breakpoint==xs {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (max-width: 413.98px) {
      @content;
    }
  }

  @if $breakpoint==sm {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (max-width: 575.98px) {
      @content;
    }
  }

  @if $breakpoint==md {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (max-width: 767.98px) {
      @content;
    }
  }

  @if $breakpoint==lg {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (max-width: 991.98px) {
      @content;
    }
  }

  @if $breakpoint==xl {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (max-width: 1199.98px) {
      @content;
    }
  }

  @if $breakpoint==xxl {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (max-width: 1399.98px) {
      @content;
    }
  }
}

  // Transition
@mixin transition( $what: all, $time: 0.25s, $how: ease-in-out ) {
    transition: $what $time $how;
  }

// Font size px to rem calculator with old browser fallback
@mixin font-size($fz){
    font-size: $fz+px;
    font-size: $fz / 16+rem;
}

@mixin truncate($line) {
  overflow: hidden;
  max-height: 3rem;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
}


*, *:after, *:before {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  @include font-size(16);
  font-family: $brand-font;
  background-color: $primary-02;
  &.bg-dark-mode{
    background-color: $dark;
    padding-top: 3rem;
  }
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}

a{
  color: $primary-01;
  text-decoration: none;
  @include transition;
  word-break: break-word;
  &:hover{
      color: $primary-03;
      text-decoration: none;
  }
  &:focus{
      color: $primary-04;
  }
  &:active{
      color: $primary-04;
  }
}
.seemore-link{
  color: $light;
  &:hover{
    color: #3A73F7;
    text-decoration: none;
  }
  &:focus{
      color: #3A73F7;
  }
  &:active{
      color: #3A73F7;
  }
}

.navbar{
  &.bg-dark-01{
    background-color: $dark-01;
  }
  &.fixed-top{
    position: absolute;
  }
  &.navbar-content{
    .navbar-toggler{
      margin-left: auto;
      border: none;
      padding: 0;
      &:focus-visible{
        outline: 0;
      }
    }
    .navbar-collapse{
      .navbar-nav{
        &.-list-menu{
          margin: 1.5rem 0;
          @include media-breakpoint-up(lg){
            margin: 0;
          }
        }
        text-align: center;
        .nav-item{
          .nav-link{
            // font-weight: bold;
            @include font-size(16);
            color: $light;
            padding: 1rem;
            // @include media-breakpoint-up(lg){
            //   padding: 0.75rem;
            //   @include font-size(18);
            // }
            // @include media-breakpoint-up(xl){
            //   padding: 0.75rem;
            //   @include font-size(21);
            // }
            // @include media-breakpoint-only(xl){
            //   @include font-size(21);
            // }
            // @include media-breakpoint-up(xxl){
            //   padding: 0.5rem 1.5rem;
            //   @include font-size(22);
            // }
            &.active {
              color: #3A73F7;
              font-weight: bold;
            }
            &:hover{
              color: #3A73F7;     
            }
          }
        }
      }
    }
  }
}
.nav-pills {
  .nav-link{
    color: $light;
    transition: none;
    padding: 10px;
    margin-right: 1rem;
    @include media-breakpoint-down(lg){ 
      margin-right: .6rem;
    }
    @include media-breakpoint-down(xs){ 
      margin-right: .3rem;
    }
    &:hover{
      color: darken($color: $light, $amount: 20%)
    }
    &.active{
      background-color: $blue03;
      border-radius: 2rem;
      padding: 10px;
      line-height: 1.6;
    }
  }
}

.container-tabs-light{
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  @include media-breakpoint-up(lg){
    max-width: 980px;
  }
  @include media-breakpoint-up(xl){
    max-width: 800px;
  }
  .nav-tabs{
    border: none;
    .nav-link{
      width: 50%;
      font-weight: bold;
      color: $light;
      &.active{
        color: $dark;
      }
      &:hover{
        background-color: $light;
        color: $dark;
      }
    }
  }
}
.bg-dark-content{
  background-image: url(https://static.ch7.com/images/newstar/bg-news-section.png);
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center;
}

.bg-vote{
  background-image: url(https://static.ch7.com/images/newstar/bg-vote.png);
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center;
}

.bg-profile{
  background-image: url(https://static.ch7.com/images/newstar/bg-profile.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  @include media-breakpoint-down(md){
    background-size: 200%;
    background-position: top right;
  }
}

.title-container{
  color: $primary-01;
  @include font-size(20);
  @include media-breakpoint-up(md){
    color: $light;
    @include font-size(38);
  }
}
.title-landing{
  @include font-size(34);
  margin-bottom: 2rem;
  @include media-breakpoint-up(md){
    @include font-size(46);
    margin-bottom: 2.5rem;
  }
}
.btn-primary-01 {
  color: $light;
  background-color: $primary-01;
  border-color: $primary-01;
  font-weight: bold;
  padding: 0.75rem 1rem;
  @include media-breakpoint-up(md){  
    @include font-size(20);
  }
}


.btn-primary-01 {
  &:hover{
    color: $light;
    background-color: $primary-03;
    border-color: $primary-03;
  }
}

.btn-primary-01{
  &:focus{
    color: $light;
    background-color: $primary-03;
    border-color: $primary-03;
    box-shadow: 0 0 0 0.2rem rgba($primary-03, 0.5);
  }
}

.btn-outline-primary-01 {
  color: $primary-01;
  background-color: transparent;
  border-color: $primary-01;
  font-weight: bold;
  padding: 0.75rem 1rem;
  @include media-breakpoint-up(md){  
    @include font-size(20);
  }
}


.btn-outline-primary-01:hover {
  &:hover{
    color: $light;
    background-color: $primary-03;
    border-color: $primary-03;
  }
}

.btn-outline-primary-01{
  &:focus{
    color: $primary-03;
    background-color: transparent;
    border-color: $primary-03;
    box-shadow: 0 0 0 0.2rem rgba($primary-03, 0.5);
  }
}

.btn-primary-05{
  color: $light;
  background-color: $primary-05;
  border-color: $primary-05;
  font-weight: bold;
  padding: 0.75rem 1rem;
  @include media-breakpoint-up(md){  
    @include font-size(20);
  }
  &:hover{
    color: $light;
    background-color: darken($color: $primary-05, $amount: 10%);
    border-color: darken($color: $primary-05, $amount: 10%);
  }
  &:focus{
    color: $light;
    box-shadow: 0 0 0 0.2rem rgba($primary-05, 0.5);
  }
}

.btn-outline-light{
  font-weight: bold;
  padding: 0.75rem 1rem;
  @include media-breakpoint-up(md){  
    @include font-size(20);
  }
}

.btn-drop{
    position: relative;
    color: $primary-01;
    background-color: transparent;
    border: 1px dashed $primary-01;
    padding: 0.75rem 1rem;
    cursor: pointer;
    .input-browse{
      position: absolute;
      opacity: 0;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &.disabled{
      filter: grayscale(1);
      cursor: none;
    }
}

.btn{
  &.disabled{
    opacity: .5;
  }
}

.btn-container-form{
  padding: 1rem;
  text-align: center;
  .btn{
    width: 100%;
    @include media-breakpoint-up(md){
      width: 85%;
    }
    @include media-breakpoint-up(lg){
      width: 65%;
    }
    @include media-breakpoint-up(xl){
      width: 80%;
    }
  }
  .text-link{
    @include font-size(16);
    @include media-breakpoint-up(md){
      @include font-size(20);
    }
  }
}

.btn-delete{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
  img{
    width: 32px;
    height: 32px;
    @include media-breakpoint-up(md){ 
      width: 28px;
      height: 28px;
    }
  }
  :hover{
    opacity: .8;
  }
}
.btn-live{
  background-color: $danger-01;
  color: $light;
  font-weight: bold;
  padding: 5px 20px;
  z-index: 1;
  word-break: keep-all;

  &.-radius{
    border-radius: .5rem;
  }

  &:hover{
    background-color: $danger-02;
    color: $light;
  }

}
.btn-share{
  background-color: $blue02;
  color: $light;
  &.-padding{
    padding: 5px 15px;
  }
  &.-radius{
    border-radius: .5rem;
  }
  &:hover{
    background-color: lighten($color: $blue02, $amount: 10%);
    color: $light;
  }
}
.btn-danger{
  &.-padding{
    padding: 5px 15px;
  }
  &.-radius{
    border-radius: .5rem;
  }
  &:hover{
    background-color: lighten($color: $danger-01, $amount: 10%);
    color: $light;
  }
}
.btn-blue{
  background-color: $blue03;
  color: $light;
  font-weight: bold;
  padding: 0.75rem 1rem;
  &:hover{
    background-color: darken($color: $blue03, $amount: 20%);
    color: $light;
  }
  &.-no-background{
    background-color: transparent;
    color: $primary-01;
    &:hover{
      color: rgba($primary-01, 0.6);
    }
    &:focus{
      box-shadow: none;
    }
  }
  @include media-breakpoint-up(md){ 
    @include font-size(20);
  }
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $gold;
  color: $light;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 3rem;

  &:hover{
    background-color: darken($color: $gold, $amount: 20%);
  }

}

.section-space{
  margin-bottom: 3rem;
  &.-top{
    margin-bottom: 0;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}
.section-title{
  .title{
    @include font-size(32);
    margin-bottom: 2rem;
    color: $light;
    @include media-breakpoint-up(lg){ 
      @include font-size(48);
    }
  }
}
.banner-event{
  background-image: url(https://static.ch7.com/images/newstar/banner-news-star.png);
  .title-event{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $light;
    padding: 1.5rem;
  }
}

.form-container-outer{
    position: relative;
    min-height: 100vh;
    overflow-x: hidden; 
    border-radius: 0;
    @include media-breakpoint-up(lg){     
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
}

.main-form{
  background-color: $light;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
    @include media-breakpoint-up(lg){
      min-height: fit-content;
      min-height: 60vh;
      border-radius: 10px;
      margin-bottom: 1rem;
    }
    &.-account{
      @include media-breakpoint-up(lg){
        max-width: 980px;
      }
      @include media-breakpoint-up(xl){
        max-width: 1130px;
      }
      .header-preview{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
      }
      .preview-container{
        .preview-content{
          &.-step-1{
            .row{
              div{
                &:nth-child(1){
                  order: 1;
                }
                &:nth-child(2){
                  order: 2;
                }
                &:nth-child(3){
                  order: 3;
                }
                &:nth-child(4){
                  order: 5;
                }
                &:nth-child(5){
                  order: 5;
                }
                &:nth-child(6){
                  order: 4;
                }
                &:nth-child(7){
                  order: 7;
                }
                &:nth-child(8){
                  order: 8;
                }
                &:nth-child(9){
                  order: 9;
                }
                &:nth-child(10){
                  order: 10;
                }
                &:nth-child(11){
                  order: 11;
                }
                &:nth-child(12){
                  order: 12;
                }
                &:nth-child(13){
                  order: 13;
                }
                @include media-breakpoint-up(md){
                  &:nth-child(4){
                    order: 4;
                  }
                  &:nth-child(6){
                    order: 6;
                  }
                }
              }
            }
          }
          .details{
            margin-bottom: 0.25rem;
          }
        }
      }
    }
    &.-default{
      .body-form{
        @include font-size(16);
        @include media-breakpoint-up(md){
          @include font-size(24);
        }
        .img-event-container{
          margin: 1rem 0 2rem;
          img{
            width: 90px;
            height: 90px;
            @include media-breakpoint-up(md){
              width: 120px;
              height: 120px;
            }
          }
        }
        .title-primary{
          color: $primary-01;
        }
        .form-group{
          font-size: initial;
        }
      } 
      @include media-breakpoint-up(lg){
        max-width: 980px;
      }
      @include media-breakpoint-up(xl){
        max-width: 800px;
      }
    }
    &.-preview{
      @include media-breakpoint-up(lg){
        max-width: 980px;
      }
      @include media-breakpoint-up(xl){
        max-width: 1360px;
      }
      
    }
    &.-rounded-bottom-form{
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .header-form{
      display: flex;
      justify-content: space-between;
      padding: 1.5rem;
      background: rgba(240, 209, 255, 0.4);
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      align-items: center;
      @include media-breakpoint-up(md){
        padding: 1.5rem 2.5rem;
      }
      .title-form{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .title{
          @include font-size(24);
          font-weight: bold;
          color: $primary-01;
        }
        .sub-title{
          @include font-size(14);
          text-align: right;
        } 
      }
    }
    .body-form{
      padding: 1rem;
      @include media-breakpoint-up(md){
        padding: 2.5rem;
      }
    }
    &.-not-min-height{
      min-height: auto;
    }
    .table-responsive{
      @include font-size(16);
      @include media-breakpoint-up(md){
        @include font-size(24);
      }
    }
}

.form-control{
  margin-bottom: 0.25rem;
  -webkit-appearance: none;
  &.is-invalid{
    margin-bottom: 0.25rem;
  }
  &.social-form{
    padding: 0.375rem 0.75rem 0.375rem 3rem;
  }
  &.date-form{
    display: flex;
  }
}

.form-select.is-invalid:not([multiple]):not([size]){
  margin-bottom: 0.25rem;
}

.form-group{
  position: relative;
  margin-bottom: 1rem;
  .form-check{
    display: flex;
    align-items: flex-start;
    .form-check-input{
        width: 20px;
        height: 20px;
        transition: all 150ms ease-in;
        -webkit-appearance: none;
        // border: 1px solid $primary-01;
        &:checked{
            background-color: $primary-01;
        }
        &:focus{
            box-shadow: 0 0 0 0.25rem rgba(102, 67, 183, 0.25);
        }
    }
    .form-check-label{
        width: 100%;
        word-break: normal;
    }
  } 
  .form-gender {
    .form-check-inline{
      .form-check-input{
        width: 24px;
        height: 24px;
        transition: all 200ms ease-in;
        position: static;
        margin-top: 0;
        margin-right: 0.3125rem;
        margin-left: 0;
        &:focus{
          border-color: $primary-03;
          outline: 0;
          box-shadow: 0 0 0 0.25rem rgba($primary-01, 0.25);
        }
        &:checked{
          background-color: $primary-01;
          border-color: $primary-03;
          -webkit-appearance: none;
        }
      }
    }
  }
  .form-pdpa{
    > .form-check{
        display: inline-flex;
        align-items: center;
        width: initial;
        margin-right: 1rem;
        align-items: initial;
        margin-top: 1.5rem;
        >.form-check-input{
          width: 24px;
          height: 24px;
          transition: all 200ms ease-in;
          position: static;
          margin-top: 0;
          &:focus{
            border-color: $primary-03;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba($primary-01, 0.25);
          }
          &:checked{
            background-color: $primary-01;
            border-color: $primary-03;
            -webkit-appearance: none;
          }
        }
        > .form-check-label{
            @include font-size(14);
            color: $gray-02;
            width: 100%;
            margin-top: 0.1rem;
            padding-left: 0.75rem;
        }
    }
    > .warning, .warning2{
      color: $danger-02;
      background-color: rgba($danger-02, .05);
      padding: 1rem;
      border-radius: .25rem;
      margin-top: 0.5rem;
      > p{
          margin: 0;
          padding: 0;
          @include font-size(14);
      }
      &.invisible{
          height: 0;
          margin: 0;
          padding: 0;
          opacity: 0;
          // transition: all 200ms ease-out 300ms;
          p{
              display: none;
              transition: all 200ms ease-out;
          }
      }
      &.visible{
          height: auto;
          opacity: 1;
      }
    }
  }
  .icon-input{
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    height: 100%;
    img{
      width: 24px;
      height: 24px;
    }
  } 
  &.-otp-code{
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    justify-content: center;
    width: 100%;
  }
}

.form-otp{
  display: flex;
  width: 100%;
  justify-content: center;
  @include media-breakpoint-up(md){
      width: 75%;
  }
  @include media-breakpoint-up(lg){
      width: 55%;
  }
  @include media-breakpoint-up(xl){
      width: 70%;
  }
  .code-input{
      padding : 0.25rem;
      @include media-breakpoint-up(md){
          padding : 0.5rem;
      }
      .-otp{
          @include font-size(32);
          @include media-breakpoint-up(md){
            @include font-size(48); 
          }
          border-radius: 0.25rem;
          text-align: center;
          background-color: $light;
          &:focus-within{
              color: $primary-01;
              border-color: $primary-01;
          }
          &:invalid{
              color: $danger-01;
              border-color: $danger-01;
          }
          &:valid{
              color: $primary-01; 
          }
         
          
      }
      input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
          appearance: none;
      }
         
  }    
}  

.form-video{
  position: relative;
  video{
    width: 100%;
  }
}

.progress {
  height: 30px;
}

.form-gallery{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.form-info{
  @include font-size(14);
  line-height: 1.7;
  .title{
    @include font-size(16);
    color: $gray-01;
  }
  .sub-title{
    color: $gray-02;
  } 
  .text-link{
    color: $primary-01;
    margin: 0.75rem 0;
  }
  .separator {
    background-color: $gray-03;
    margin: 1.5rem 0;
  }
  .form-check-input{
    margin-top: 0;
  }
  .form-check-label{
    color: $gray-02;
    @include font-size(14);
  }
  ul{
    list-style: none;
    padding-left: 0;
  }
}


.gallery-main{
  position: relative;
  width: 100%;
  margin-bottom: 0.5rem;
  @include media-breakpoint-up(md){
    width: 32.5%;
    // margin-bottom: 1rem;
  }
  // @include media-breakpoint-up(lg){
  //   width: 32.5%;
  // }
  &:nth-child(1){
    .gallery-container{
      background-image: url(https://static.ch7.com/images/newstar/img-01-11.jpg);
    }
  }
  &:nth-child(2){
    .gallery-container{
      background-image: url(https://static.ch7.com/images/newstar/img-02-11.jpg);
    }
  }
  &:nth-child(3){
    .gallery-container{
      background-image: url(https://static.ch7.com/images/newstar/img-03-11.jpg);
    }
  }
  &:nth-child(4){
    @include media-breakpoint-up(md){
      width: 49.4%;
    }
    .gallery-container{
      background-image: url(https://static.ch7.com/images/newstar/img-04-11.jpg);
    }
  }
  &:nth-child(5){
    @include media-breakpoint-up(md){
      width: 49.4%;
    }
    .gallery-container{
      background-image: url(https://static.ch7.com/images/newstar/img-05-11.jpg);
    }
  }
  .gallery-container{
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #e5e5e5;
        background-position: center;
        position: relative;
        margin-bottom: 0.5rem;
        height: 0;
        padding-bottom: 145%;
    .gallery-item{
        background-image: url(https://static.ch7.com/images/theme2019/ch7_logo-bw.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #e5e5e5;
        background-position: center;
        position: relative;
        margin-bottom: 0.5rem;
        height: 0;
        padding-bottom: 145%;
      }
      
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }
  } 
}

.gallery-preview{
  .container-media-preview{
    margin: auto;
  }
  .ratio-img-preview{
    // background-image: url(placeholder-bugaboo-inter.818ce97….svg);
    background-color: #262626;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 0;
    padding-top: 121%;
    .img-preview{
      position: absolute;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center top;
      object-position: center top;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .-pd-content{
    padding: .1rem;
  }
 }

.main-info-preview{
   display: flex;
   justify-content: space-between; 
   .profile-info {
     .title{
       @include font-size(64);
     }
     .sub-title{
        display: inline-block;
        @include font-size(48);
        margin-bottom: 0.5rem;
        &:last-of-type(){
          @include font-size(36);
        }
     } 
   }
   .detail-info{
     .number-content{
      background-color: #003472;
      padding: 1.5rem;
      border-radius: .25rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-top: -2.5rem;
       .title{
         @include font-size(128);
         line-height: 0.8;
       }
     }
     .compositions-content{
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.5rem;
      .sub-composition{
        &.-height{
          background-color: #f6e9fb;
          border: 2px solid rgba(216, 160, 219, 1)
        }
        background-color: #E8F1FF;
        border: 2px solid rgba(0, 52, 114, 0.4);
        padding: .5rem;
        border-radius: .25rem;
        .text-number{
          line-height: 1;
        }
      }    
     }
   }
}

.radia-progressbar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radia-progressbar  {
  > .overlay {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    margin: auto;
    background: #f9edff;
    text-align: center;
    padding: 26% 0 0;
    border: initial;
    @include font-size(24);
    font-weight: bold;
  }
}

.progress-25 {
  background-image: -webkit-linear-gradient(90deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #790FFF 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #ddd 50%, transparent 50%), linear-gradient(180deg, #790FFF 50%, #ddd 50%);
}

.progress-50 {
  background-image: -webkit-linear-gradient(90deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #790FFF 50%, #790FFF 50%);
  background-image: linear-gradient(90deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #790FFF 50%, #790FFF 50%);
}

.progress-75 {
  background-image: -webkit-linear-gradient(left, #790FFF 50%, transparent 50%), -webkit-linear-gradient(72deg, #790FFF 50%, #ddd 50%);
  background-image: linear-gradient(270deg, #790FFF 50%, transparent 50%), linear-gradient(360deg, #790FFF 50%, #ddd 50%);
}

.progress-100 {
  background-image: -webkit-linear-gradient(left, #790FFF 50%, transparent 50%), -webkit-linear-gradient(72deg, #790FFF 50%, #ddd 50%);
  background-image: linear-gradient(180deg, #790FFF 50%, transparent 50%), linear-gradient(360deg, #790FFF 50%, #ddd 50%);
}

.card{
  &.-bgcolor{
    background-color: $dark-01;
  }
  &.-bg-blue{
    background-color: rgba($blue04, .4);
  }
  &.-bg-violet{
    background-color: rgba($primary-07, .4);
  }
  &.-bg-blur{
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }
  &.-radius{
    border-radius: 1rem;
  }
  &.-card-bg-transparent{
    background-color: transparent;
  }
  &.ad-300{
    // background-image: url(https://static.ch7.com/images/theme2019/ch7_logo-bw.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-position: center;
    position: relative;
    width: 300px;
    height: 300px!important;
    .img-item{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-img{
    background-image: url(https://static.ch7.com/images/theme2019/ch7_logo-bw.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $dark-01;
    background-position: center;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    .img-item{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      &.-position{
        object-position: top center;
      }
      &.-radius{
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        @include media-breakpoint-down(sm){
          border-top-right-radius: 0.25rem;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
  .card-ratio{
    @include media-breakpoint-up(xl){
    padding-top: 72%;
    }
  }

  .card-header{
    &.-gradients-bg{
      background: linear-gradient(to bottom, $blue01, $primary-06);
      color: $light;
      font-size: x-large;
    }
    &.-radius{
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
  }
  .card-body{
    p{
      &.-size{
        font-size: 1rem;
        &.-large{
          font-size: 1.25rem;
        }
      }
      &.-ellipsis{
        @include truncate(2);
        max-height: 100%;
      }
    }
    &.-card-body-bg{
      background-color: $gray-06;
    }
    &.-height{
      height: 125px;
    }
    &.-radius{
      border-radius: 1rem;
    }
    .card-title{
     &.-textsize{
       font-size: 48px;
      //  @include media-breakpoint-up(xl){
      //   font-size: 64px;
      //  }
     }
    }
  }
  .card-footer{
    &.-card-bg-transparent{
      background-color: transparent;
    }
    &.-height{
      height: 60px;
    }
    &.-padding{
      padding-bottom: 16px;
    }
  }
}

.cards{
  &.-landscape{
    position: relative;
    .cards-img{
      background-image: url(https://static.ch7.com/images/theme2019/ch7_logo-bw.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-color: $gray-05;
      background-position: center;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      position: relative;
      height: 0;
      padding-top: 56.25%;
      .container-img{
        width: 100%;
        height: auto;
        .img-item{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
      }
    }
    .cards-info{
      background-color: $gray-06;
      padding: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      @include media-breakpoint-up(md){
        padding: 1rem;
      }
      .badge-content{
        flex-grow: 1;
        order: 1;
        .badge{
         &.-cards{
          @include font-size(10);
           padding: 0.65em 0.65em;
           border-radius: 0.5rem;
           background-color: #D6BD6B;
           @include media-breakpoint-up(md){
            @include font-size(12);
           }
         }
        }
      }
      .date{
        flex-grow: 1;
        margin-bottom: 0.25rem;
        order: 2;
        @include font-size(10);
        text-align: right;
        @include media-breakpoint-up(md){
          font-size: initial;
        }
      }
      .title{
        line-height: 1.5;
        font-weight: bold;
        padding-top: 0.6rem;
        width: 100%;
        order: 3;
        @include font-size(16);
        .stretched-link{
          @include truncate(2);
          color: $light;
          height: 3rem;
          &::after{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            content: "";
          }
          &:hover{
            color: #3A73F7;
          }
        }
      }
      
    }
  }
  &.-overlay{
    @extend .-landscape;
    .cards-img{
      padding-top: 56.25%;
      border-radius: 1rem;
      @include media-breakpoint-up(lg){
        padding-top: 48.25%;
      }
      @include media-breakpoint-up(xl){ 
        padding-top: 45.65%; 
      }
      @include media-breakpoint-only(xl){ 
        padding-top: 44.65%; 
      }
      @include media-breakpoint-up(xxl){
        padding-top: 42.25%;
      }
      .img-item{
        border-radius: 1rem;
      }
    }
    .cards-info{
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0 0.25rem;
      border-bottom-right-radius: 1rem;
      background: linear-gradient(180deg, rgba(228, 229, 229, 0) -4.68%, rgba(115, 126, 251, 0.47) 26.61%, #0A66FF 100%);
      .date{
        align-items: center;
        justify-content: flex-end;
        display: flex;
      } 
      .title{
        .stretched-link{
          color: $light;
          height: 3rem;
          &:hover{
            color: $light;
            text-shadow: 0 1px 4px rgba(0, 0, 0, .6);
          }
      } 
    }
      @include media-breakpoint-up(md){
        margin: 0 0.45rem;
      }
      @include media-breakpoint-up(lg){
        border-bottom-right-radius: 0;
        border-top-left-radius: 1rem;
        background: linear-gradient(180deg, #0464FE 0%, #8A83F9 100%);
        top: 0;
        width: 35%;
        height: 100%;
        margin: 0 0.5rem;
        .badge-content{
          order: 1;
          
        } 
        .date{
          order: 3;
          justify-content: flex-start;
          align-items: flex-end;
        }
        .title{
          order: 2;
          .stretched-link{
            @include font-size(24);
            @include truncate(4);
            max-height: 9rem;
            height: 9rem;
          }
        } 
      } 
      @include media-breakpoint-only(lg){
        width: 40%;
      }
    }
  }
  &.-play{
    @extend .-landscape;
    .cards-img{
      &::before{
        content: url(https://static.ch7.com/images/newstar/icon-play-sm.svg);
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(-20%, -10%);
        z-index: 1;
        @include media-breakpoint-up(lg){
          content: url(https://static.ch7.com/images/newstar/icon-play.svg);
        }
      }
    }
  }
  &.-poster{
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    z-index: 1;
    &:hover{
      .container-img{
        .img-item{
          transition: all 0.4s;
          -webkit-transition:  all 0.4s;
          -webkit-transform: scale(1.1) rotate(2deg);
          transform: scale(1.1) rotate(2deg);
        }
      }
    }
    .cards-img{
      position: relative;
      background-image: url(https://static.ch7.com/images/theme2019/ch7_logo-bw.png);
      background-size: contain;
      width: 100%;
      height: 0;
      background-repeat: no-repeat;
      background-color: $gray-05;
      background-position: center;
      // border-radius: 1rem;
      padding-top: 140%;
    }
    .container-img{
        display: block;
        width: 100%;
        height: 0;
        .img-item{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
            transition: all 0.4s;
            -webkit-transition:  all 0.4s;
        }
    }
    .cards-info{
      position: absolute;
      bottom: 0;
      padding: 0.5rem;
      width: 100%;
      height: 60%;
      // border-radius: 1rem;
      @include media-breakpoint-up(md){
        padding: 1rem;
      }
      .number-contestants{
          @include font-size(32);
          color: $light;
          font-weight: bold;
          padding-top: .4rem;
          margin-bottom: 0;
          position: absolute;
          bottom: 3.5rem;
          @include media-breakpoint-up(md){
            bottom: 4rem;
            @include font-size(44);
          }
          > .stretched-link{
              color: $light; 
          }
      }
      .name-contestants{
        color: $light;
        margin-bottom: 0;
        position: absolute;
        bottom: 0.5rem;
        @include media-breakpoint-up(md){
          bottom: 1rem;
        }
      }
    }
    &.-male{
      .cards-info{
        background: linear-gradient(180deg, rgba(84, 129, 236, 0) 23.04%, rgba(29, 67, 160, 0.9) 87.76%);
      }
    }
    &.-female{
      .cards-info{
        background: linear-gradient(180deg, rgba(76, 42, 172, 0) 23.04%, rgba(76, 42, 172, 0.9) 87.76%);
      }
    }
    &.-vote{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      .cards-img{
        .container-img{
          .img-item{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
      .cards-info{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .badge-overlay-container{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;
      z-index: 3;
      -webkit-transition: width 1s ease, height 1s ease;
      -moz-transition: width 1s ease, height 1s ease;
      -o-transition: width 1s ease, height 1s ease;
      transition: width 0.4s ease, height 0.4s ease;
      .badge{
        border-radius: 0;
        color: $gray-01;
        padding: 1rem;
        @include font-size(18);
        &::before{
          content: "";
          position: absolute;
          top: 0;
          margin: 0 -1px;
          width: 100%;
          height: 100%;
          right: 100%;
          background: inherit;
          min-width: 3.438rem;
        }
        &::after{
          left: 100%;
          content: "";
          position: absolute;
          top: 0;
          margin: 0 -1px;
          width: 100%;
          height: 100%;
          background: inherit;
          min-width: 3.438rem;
        }
        &.-bottom-right{
          position: absolute;
          -ms-transform-origin: bottom left;
          -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
        }
        &.-badge-semifinal{
          -ms-transform: translateX(26%) translateY(0%) rotate(0deg);
          -webkit-transform: translateX(26%) translateY(0%) rotate(0deg);
          transform: translateX(26%) translateY(0%) rotate(0deg);
          bottom: -16px;
          right: 0px;
          @include media-breakpoint-up(lg){
            -ms-transform: translateX(18%) translateY(0%) rotate(0deg);
            -webkit-transform: translateX(18%) translateY(0%) rotate(0deg);
            transform: translateX(18%) translateY(0%) rotate(0deg);
          }
          @include media-breakpoint-up(xl){
            -ms-transform: translateX(17%) translateY(0%) rotate(0deg);
            -webkit-transform: translateX(17%) translateY(0%) rotate(0deg);
            transform: translateX(17%) translateY(0%) rotate(0deg);
          }
          .img-badge{
            max-width: 60%;
            @include media-breakpoint-up(lg){
              max-width: 80%;
            }
          }
        }
        &.-badge-popular{
          -ms-transform: translateX(22%) translateY(0%) rotate(360deg);
          -webkit-transform: translateX(22%) translateY(0%) rotate(360deg);
          transform: translateX(22%) translateY(0%) rotate(360deg);
          bottom: -31px;
          right: 0px;
          @include media-breakpoint-up(md){
            -ms-transform: translateX(23%) translateY(0%) rotate(360deg);
            -webkit-transform: translateX(23%) translateY(0%) rotate(360deg);
            transform: translateX(23%) translateY(0%) rotate(360deg);
            bottom: -45px;
          }
          @include media-breakpoint-up(lg){
            -ms-transform: translateX(25%) translateY(0%) rotate(360deg);
            -webkit-transform: translateX(25%) translateY(0%) rotate(360deg);
            transform: translateX(25%) translateY(0%) rotate(360deg); 
            bottom: -52px;
          }
          @include media-breakpoint-up(xl){
            -ms-transform: translateX(24%) translateY(0%) rotate(360deg);
            -webkit-transform: translateX(24%) translateY(0%) rotate(360deg);
            transform: translateX(24%) translateY(0%) rotate(360deg); 
            bottom: -52px;
          }
          .img-badge{
            max-width: 100%;
          }
        }
        
      }
    }
  }
}

.vote-content{
  background-color: $light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  @include media-breakpoint-up(md){
    padding: 1rem;
  }
  .score-info{
    width: 50%;
    @include media-breakpoint-up(md){
      width: 70%;
    }
    p{
      margin-bottom: 0;
      text-align: center;
      @include font-size(12);
      @include media-breakpoint-up(md){
        text-align: left;
      }
      @include media-breakpoint-up(lg){
        @include font-size(16);
      }
    }
  }
  .btn-vote{
    @include font-size(16);
    padding: 0.35rem 0.75rem;
    border-radius: 0.5rem;
    @include media-breakpoint-up(md){
      @include font-size(18);
      padding: 0.20rem 0.5rem;
    }
    @include media-breakpoint-up(lg){
      @include font-size(20);
      padding: 0.20rem 0.75rem;
    }
    &:focus{
       color: #0d6efd;
    }
    &:hover{
      color: $light;
   }
  }
}


.modal-dialog{
  &.error-age-content{
    .modal-content{
      border-radius: 10px;
    }
    .modal-header{
      border: none;
    }
    .modal-body{
      padding: 1rem 1rem 1.5rem;
      .title{
        color: $danger-01;
      }
    }
    .btn-container{
      .btn{
        width: 100%;
        @include media-breakpoint-up(md){
          width: 50%;
        }
      }
      .text-link{
        @include font-size(16);
        @include media-breakpoint-up(md){
          @include font-size(20);
        }
      }
    }
  }
  &.error-idnumber-content{
    @extend .error-age-content;
  }
  &.error-phone-numbuer-content{
    @extend .error-age-content;
  }
  &.delete-item-content{
    .modal-content{
      border-radius: 10px;
    }
    .modal-header{
      border: none;
    }
    .title{
      color: $primary-01;
    }
    .btn-container{
      display: flex;
      justify-content: space-between;
      @include media-breakpoint-up(md){
        justify-content: center;
      }
      .btn{
        width: 100%;
        @include media-breakpoint-up(md){
          width: 25%;
        }
      }
    }
  }
}

.main-footer{
  background-color: #353535;
  padding: 1.5rem 0;
  &.bg-dark-mode{
    background-color: $dark;
  }
  .content-footer-top{
    display: block;
    justify-content: space-between;
    @include media-breakpoint-up(lg){
      display: flex;
    }
    .footer-left{
      display: flex;
      align-items: center;
      justify-content: center;
      @include media-breakpoint-up(lg){
        justify-content: flex-start;
      }
      .title{
        @include font-size(14);
        word-break: keep-all;
        @include media-breakpoint-up(md){
          font-size: unset;
        }
      }
    }
    .footer-right{
      display: flex;
      align-items: center;
      margin-top: 1.5rem;
      justify-content: center;
      @include media-breakpoint-up(lg){
        margin-top: 0;
        justify-content: flex-start;
      }
      .text-policy{
        &::after{
          display: inline;
          content: '|';
          margin-left: 0.2rem;
          margin-right: 0.2rem;
        }
        &:last-child{
          &::after{
            content: '';
          }
        }
      }
      .social{
        margin-left: 0.5rem;
        @include media-breakpoint-up(md){
          margin-left: 1rem;
        }
        img{
          width: 22px;
          height: 22px;
        }
      }
    }
  }
  .separator-footer{
    background-color: $light;
    opacity: 1;
    margin: 1.5rem 0;
  }
  .content-footer-bottom{
    .footer-right{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      @include media-breakpoint-up(lg){
        justify-content: flex-end;
        margin-bottom: 0.5rem;
      }
      .info{
        text-align: center;
        @include media-breakpoint-up(lg){
          text-align: unset;
        }
      }
    }
  }
}
blockquote {

  &::before{
    content: url(https://static.ch7.com/images/newstar/dubbleqoute-start.svg);
  }

  &::after{
    content: url(https://static.ch7.com/images/newstar/dubbleqoute-end.svg);
  }

}

ol {
  list-style-type: none;
  counter-reset: item;
  padding-left: 15px;

  > li {
    display: table;
    counter-increment: item;

    &::before{
      content: counters(item, ".") ".";
      display: table-cell;
      padding-right: 5px;   
    }
    
  }

}

li {

  ol{
    padding: 0;

    > li{
      margin: 0;

      &::before{
        content: counters(item, ".") ".";
      }

    }  

  }

}

.bg-img-newstar{
  background-image: url(https://static.ch7.com/images/newstar/landing-img-bg.jpg);
  background-size: cover;
  background-position-x: 30%;
  @include media-breakpoint-up(lg){
    background-position-x: 50%;
  }
}

.overlay{
  background-color: rgba($dark, 0.6);
  border: 4px solid $cyan;
  border-radius: 30px;
  padding: 50px 30px;
  @include media-breakpoint-up(lg){
    padding: 50px 150px;
  }
}

.w-column-1{
  width: 100%;
  @include media-breakpoint-up(lg){
    width: 65%;
  }
}
.w-column-2{
  width: 100%;
  @include media-breakpoint-up(lg){
    width: 35%;
  }
}
.w-column-3{
  width: 100%;
  @include media-breakpoint-up(md){
    width: 70%;
  }
  @include media-breakpoint-up(lg){
    width: 100%;
  }
}

.hilight-bg{
  background-image: url(https://static.ch7.com/images/newstar/bg-hilight.jpg);
  background-size: cover;
  background-position-y: 30%;
}
.news-bg{
  background-image: url(https://static.ch7.com/images/newstar/bg-news.jpg);
  background-size: cover;
  background-position-y: 30%;
}

.owl-carousel{
  &.-shadow-effect{ 
    @include media-breakpoint-up(lg){
      display: block;
      padding: 0 3rem;
    }  
    .owl-stage-outer{
      z-index: 1;
      .owl-stage{
        .owl-item{
          &.active{
            &.center{
              .owl-items{
                opacity: 1;
		            -webkit-transform: scale3d(1, 1, 1);
		            transform: scale3d(1, 1, 1);
              }
            }
          }
        }
        .owl-items{
          margin-bottom: 0;
          opacity: .9;
          -webkit-transform: scale3d(0.9, 0.9, 1);
          transform: scale3d(0.9, 0.9, 1);
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          @include media-breakpoint-up(md){
            opacity: .5;
          }
        }
      }
    }
    .owl-nav{
      &.disabled{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: 0;
          height: 100%;
            .owl-prev{ 
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              transform: translateY(-50%);
              top: 44%;
              left: 0;
              border-radius: 0;
              width: 80px;
              height: 100%;
              margin: 0;
              background-color: transparent;
              z-index: 2;
              &:hover{
                background: transparent
              }
              > .icon-nav{
                .img-item{
                  width: 40px;
                  height: 40px;
                }
              }
            }
            .owl-next{
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              transform: translateY(-50%);
              top: 44%;
              right: 0;
              left: initial;
              border-radius: 0;
              width: 80px;
              height: 100%;
              margin: 0;
              background-color: transparent;
              z-index: 2;
              &:hover{
                background: transparent
              }
              > .icon-nav{
                .img-item{
                  width: 40px;
                  height: 40px;
                }
              }
            }
            @include media-breakpoint-up(lg){
              display: block;
            }
      }
    }
  }
}

  .placeholder-img{
    background-image: url(https://static.ch7.com/images/theme2019/ch7_logo-bw.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $gray-05;
    background-position: center;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    .container-area{
      width: 100%;
      height: auto;
      .thumblive-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
  .section-h{
    min-height: 66vh;
    @include media-breakpoint-up(md){
      min-height: 80vh;
    }
    @include media-breakpoint-up(lg){
      min-height: 87vh;
    }
    @include media-breakpoint-up(xxl){
      min-height: 85vh;
    }
  }
  .ug-lightbox{
    .ug-textpanel-title{
      text-align: center!important;
    }
  } 


  .hide-scrollbar {
     overflow: scroll; 
     flex-wrap: nowrap;
     transition: all 0.5s;
     transform: scale(0.98);
     -ms-overflow-style: none; /* for Internet Explorer, Edge */
     scrollbar-width: none; /* for Firefox */
     &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
     }
     &.active {
      background-color: rgba($blue04, .2);
      cursor: grabbing;
      cursor: -webkit-grabbing;
      transform: scale(1);
     }
     @include media-breakpoint-up(xxxl){
      justify-content: center;
    }
  }


  .paddle {
    position: absolute;
    // top: 0;
    // width: 2rem;
    // height: 100%;
    background-color: $gray-01;
    top: 50%;
    transform: translate(0%, -50%);
    width: 40px;
    height: 40px;
    background-color: #262626;
    border-radius: 2rem;
    &.left-paddle {
      left: 0;
      border-color: transparent;
      color: $light;
    }   
    &.right-paddle {
      right: 0;
      border-color: transparent;
      color: $light;
    }
    @include media-breakpoint-up(xxxl){
      display: none;
    }
    
  }
  .hidden {
    display: none;
  }
  .ratio {
    &.-background{
      background-color: #19191A;
      video[poster]{
        object-fit: cover;
        }
      }
  }

  .rules-content{
    .info-rules{
      text-indent: 1em;
    }
    a {
      color: #F976DC;
    }
  }

  .container-carousel-announcement{
    margin-top: 0.85rem;
    @include media-breakpoint-up(xl){
      margin-top: 1.5rem;
    }
    .carousel-indicators{
      button{
        width: 50px;
        height: 6px;
      }
    }
  }

  
  
